/* .grid-item{
    background-color: rgb(41, 101, 160);
}
.grid-container{
    display: grid;
    height: 480px;
    width: 480px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr; */
    /* grid-template-areas: 'header header header'
                         'sidebar main notification'
                         'footer footer footer';

}

.grid-container{
    gap: 20px;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}   
#main{
    grid-area: main;
}
#notification{
    grid-area: notification;
}
#footer{
    grid-area: footer;
}

.grid-container{
    background-color: bisque;
} */ 

/* @media (max-width: 600px) and (orientation: portrait)
    .grid-container{
        grid-template-columns: 1fr;
 
    } */

#box{
        height: 100px;
        width: 100px;
        background-color: coral;

        /* box-shadow: 5px 5px 5px grey    } */}

#box:hover{
   box-shadow: 0px 0px  50px grey 
}

#box2{
    border: 2px solid;
    width: 1000px;
    height: 100px;
    overflow: scroll;
}
